# SEO
VITE_SITE_URL=https://purplecomunicacao.com.br

# Emails
VITE_EMAILJS_SERVICE_ID=service_xxxxxxx
VITE_EMAILJS_TEMPLATE_ID=template_xxxxxxx
VITE_EMAILJS_PUBLIC_KEY=xxxxxxxxxxxxxxxxxxxxxx

# Analysis
VITE_GTM_ID=GTM-XXXXXXX

# Base
VITE_BASE_PHONE=XXXXXXX
VITE_BASE_TEL=XXXXXXX
VITE_BASE_EMAIL=XXXXXXX
VITE_BASE_ADDRESS=XXXXXXX

# CDN
VITE_CDN_URL=XXXXXXX
