// colors
$purple: #A066CB;
$orange: #FFC60B;
$green: #7ED957;
$black: #000;
$white: #fff;
$light: #f9f9f9;
$text: #222;

// font
$font_fallback: Arial, Avenir, Helvetica, sans-serif;
$font_main_bold: 'FiraSansBold', $font_fallback;
$font_main_medium: 'FiraSansMedium', $font_fallback;
$font_main_light: 'FiraSansLight', $font_fallback;
